[*.cs]

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# CA1708: Identifiers should differ by more than case
dotnet_diagnostic.CA1708.severity = none
